* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}

.nav_bar {
  background: #61a575;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 14px;
}
.menu {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}
.form_controls {
  margin: 5px;
}
input {
  border: 1px solid #61a575;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  margin: 2px;
}
button {
  background: #61a575;
  color: white;
  outline: none;
  border: 0px;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  cursor: pointer;
}
.todo_container {
  background: grey;
}
.todoLocalstorage {
  font-size: 12px;
  background: #e7e7e7;
  color: #434343;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.try {
  color: white;

  padding: 2px;
  margin: 20px;

  position: relative;
}
.gobackbutton {
  background: #e7e7e7;
  color: black;
  font-weight: bold;
}
